.typography {
    font-family: var(--font-family), sans-serif, Arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: var(--dark-900);
}
.typography-variant--h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 138%;
}
.typography-variant--h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
}
.typography-variant--h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
}
.typography-variant--h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.typography-variant--body1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.typography-variant--body2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
}
.typography-variant--subtitle1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.typography-variant--subtitle2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
}
.typography-variant--caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
}
.typography-variant--overline {
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
}
.typography-variant--link1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--info-500);
    cursor: pointer;
}
.typography-variant--link2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--info-500);
    cursor: pointer;
}

.typography-color--primary {
    color: var(--dark-900);
}
.typography-color--secondary {
    color:  var(--light-100);
}
.typography-color--success {
    color:  var(--success-500);
}
.typography-color--warning {
    color:  var(--warning-100);
}
.typography-color--error {
    color:  var(--danger-300);
}

.typography-align--inherit {
    text-align: inherit;
}
.typography-align--left {
    text-align: left;
}
.typography-align--center {
    text-align: center;
}
.typography-align--right {
    text-align: right;
}
.typography-align--justify {
    text-align: justify;
}
.typography-align--initial {
    text-align: initial;
}
.typography-align--unset {
    text-align: unset;
}
