.button {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    color: var(--light-100);
    font-family: inherit;
    padding: 5px;
    margin-top: 10px;
    min-width: 100px;
    text-align: center;
    transition: transform 0.1s, box-shadow 0.1s;
    pointer-events: auto;

    &:active {
        transform: scale(0.95);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}

.primary {
    background-color: var(--primary-500);

    &:active {
        background-color: var(--primary-700);
    }
    &:hover {
        background-color: var(--primary-300);
    }
    &:focus {
        border: 2px solid var(--info-700);
    }
    &:disabled {
        background-color: var(--primary-900);
        color: var(--light-900)
    }
}

.secondary {
    background-color: var(--dark-300);

    &:active {
        background-color: var(--dark-500);
    }
    &:hover {
        background-color: var(--dark-100);
    }
    &:focus {
        border: 2px solid var(--info-700);
    }
    &:disabled {
        background-color: var(--dark-300);
        color: var(--light-900)
    }
}

.outlined {
    background-color: transparent;
    color: var(--primary-500);
    border: 1px solid var(--primary-500);

    &:active {
        background-color: var(--light-300);
    }
    &:hover {
        background-color: var(--light-500);
    }
    &:focus {
        border: 2px solid var(--primary-700);
    }
    &:disabled {
        background-color: var(--light-900);
        color: var(--light-100)
    }
}
