.Item {
    font-size: 13px;
    line-height: 1;
    color: var(--violet-11);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 35px 0 25px;
    position: relative;
    user-select: none;
    &[data-disabled] {
        color: var(--mauve-8);
        pointer-events: none;
    }
    &[data-highlighted] {
        outline: none;
        background-color: var(--violet-9);
        color: var(--violet-1);
    }
}

.ItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

