@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

:root {
    --font-family: Roboto;
}
:root {
    /* Primary Colors */
    --primary-100: #bea6ff;
    --primary-300: #a280ff;
    --primary-500: #8c61ff;
    --primary-700: #704ecc;
    --primary-900: #382766;

    /* Success Colors */
    --success-100: #80ffbf;
    --success-300: #22e584;
    --success-500: #14cc70;
    --success-700: #0f9954;
    --success-900: #0a6638;

    /* Danger Colors */
    --danger-100: #ff8099;
    --danger-300: #f23d61;
    --danger-500: #cc1439;
    --danger-700: #990f2b;
    --danger-900: #660a1d;

    /* Warning Colors */
    --warning-100: #ffd073;
    --warning-300: #e5ac39;
    --warning-500: #d99000;
    --warning-700: #960;
    --warning-900: #640;

    /* Dark Colors */
    --dark-100: #808080;
    --dark-300: #4c4c4c;
    --dark-500: #333;
    --dark-700: #171717;
    --dark-900: #000;

    /* Light Colors */
    --light-100: #fff;
    --light-300: #f9f7ff;
    --light-500: #f4f2fa;
    --light-700: #dcdae0;
    --light-900: #c3c1c7;

    /* Info Colors */
    --info-100: #73a5ff;
    --info-300: #4c8dff;
    --info-500: #397df6;
    --info-700: #2f68cc;
    --info-900: #234e99;
}
